<hr>

<h2>rxjs alt works!</h2>

<p>This implementation of rxjs should match the component store completely</p>

<ng-container *ngIf="page$ | async as page; else info">
  <p>Page: {{ page }}</p>
</ng-container>

<ng-template #info>
  <p>Click a page to view paginated posts</p>
</ng-template>

<p>Pages: <button *ngFor="let page of pages" (click)="setPage(page)">{{ page }}</button></p>

<div *ngFor="let post of posts$ | async">
  <h3>{{ post.title }}</h3>
  <p>id: {{ post.id }} | reactions: {{ post.reactions }}</p>
  <p>{{ post.body }}</p>
</div>

