/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  background: #15181e;
  color: aliceblue;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
